type: map
mapping:
  "application_url":
    type: str
    required: yes
    pattern: /^(http|https):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/
  "libraries_server_path":
    type: str
    required: yes
    pattern:  /\/.*/
  "image_server_path":
      type: str
      required: yes
      pattern:  /\/.*/
  "export_settings":
    type: map
    required: yes
    mapping:
      "layout":
        type: str
        required: yes
      "debug":
        type: bool
        default: false
      "cache":
        type: bool
        default: false
  "stylesheets":
    type: map
    required: yes
    mapping:
      "relative_destination_path":
        type: str
        required: yes
      "styles":
         type: str
         required: no
      "replace_strings":
        type: seq
        required: no
        sequence:
          - type: map
            mapping:
              "what":
                type: str
                required: yes
              "with":
                type: str
                required: yes
  "javascripts":
    type: map
    required: yes
    mapping:
      "relative_destination_path":
        type: str
        required: yes
      "dynamic_libraries":
        type: str
        required: no
      "libraries_relative_destination_path":
        type: str
        required: no
  "images":
    type: seq
    required: no
    sequence:
      - type: map
        mapping:
          "server_path":
            type: str
            required: yes
          "relative_destination_path":
            type: str
            required: yes
          "file_types":
            type: str
            required: no